<div class="hero-carousel">
  <div class="hero-item" onclick="C.handlerDetail('{{id}}')">
    <img src="../server/images/{{image_hero}}" class="hero-image">
    
    <div class="hero-overlay">
      <div class="hero-content">
        <div class="hero-badges">
          <span class="badge-live">Populaire</span>
        </div>
        <h1 class="hero-title">{{name}}</h1>
        <p class="hero-subtitle">{{description}}</p>
        
        <button class="hero-button">Voir le film
        </button>
      </div>
    </div>
  </div>
</div>

