.movie-form {
  margin: 2rem auto;
  padding: 2rem;
  background-color: var(--color-blue-dark);
  color: var(--color-white);
  border-radius: 12px;
  font-family: var(--ff-sans);
}

.movie-form_title {
  text-align: center;
  color: var(--color-blue-light);
  font-size: 2rem;
  margin-bottom: 2.5rem;
}

.movie-form_groupe {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

label {
  color: var(--color-blue-light);
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 0.6rem;
}

.movie-form_button {
  justify-content: center;
  margin-top: 1rem;
  padding: 1.2rem;
  background-color: var(--color-blue-dark);
  color: var(--color-white);
  border: 2px solid var(--color-white);
  border-radius: 6px;
  font-size: 1.1rem;
  text-transform: uppercase;
}