<form class="movie-form">
  <h1 class="movie-form_title">J'ajoute un nouveau film</h1>

  <label for="name">Titre du film</label>
  <input required type="text" id="name" name="name" placehodler="Annihilation">

  <label for="director">Réalisateur</label>
  <input required type="text" id="director" name="director" placehodler="Alex Garland">

  <label for="year">Année de sortie</label>
  <input required type="number" id="year" name="year" placehodler="2019" pattern="[0-9]{4}">

  <label for="time">Durée en minutes</label>
  <input required type="number" id="time" name="time" placehodler="120">

  <label for="description">Description</label>
  <textarea id="description" name="description"></textarea>

  <label for="category">Catégorie du film</label>
  <select required id="category" name="category">
    <option value="">Choisir une catégorie</option>
    <option value="drame">Drame</option>
    <option value="aventure">Aventure</option>
    <option value="animation">Animation</option>
    <option value="action">Action</option>
  </select>

  <label for="image">Nom du fichier de l'affiche</label>
  <input required type="text" id="image" name="image">

  <label for="trailer">URL du trailer</label>
  <input required type="url" id="trailer" name="trailer">

  <label for="age">Age</label>
  <input required type="number" id="age" name="age" pattern="[0-9]{2}">

  <input onclick="{{handler}}" type="button" value="Enregistrer le film" name="todo">
  
</form>

