.movie-category {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
}

.movie-category_title {
  color: var(--color-white);
  font-size: 1.4rem;
  font-weight: 600;
  font-family: var(--ff-sans);
  margin-bottom: 1rem;
}

.movie-category_list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 25px;
  padding-bottom: 20px 0;
}