<nav class="navbar font-sans">
  <div class="navbar-left">
    <div class="burger-menu" onclick="C.handlerToggleMenu()">
      <div class="burger-content">
        <svg class="burger-icon" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
          <line x1="3" y1="12" x2="21" y2="12"></line>
          <line x1="3" y1="6" x2="21" y2="6"></line>
          <line x1="3" y1="18" x2="21" y2="18"></line>
        </svg>
        <span>Menu</span>
      </div>
    </div>
    <img class="nav-logo" onclick="{{hHome}}" src="../server/images/logo-france_final.png" alt="France TV">
  </div>

<div class="navbar-center" id="main-nav-menu">
     <div class="mobile-menu-header">
         <div class="close-menu" onclick="C.handlerToggleMenu()">
             <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"><path d="M18 6L6 18M6 6l12 12"/></svg>
             <span>Fermer</span>
         </div>
     </div>

    <ul class="navbar__list">
      <li class="navbar__item" onclick="C.handlerShowFavorites()">Favoris</li>
      <li class="navbar__item" onclick="C.handlerShowStatistics()">Statistiques</li>
      <li class="navbar__item">
        <span class="navbar__cat">Catégories</span>
        <ul class="navbar__menu">{{categoryItems}}</ul>
      </li>
    </ul>
  </div>

  <div class="navbar-right">
    <div class="nav-search-trigger" onclick="C.handlerToggleSearch()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" class="nav-icon-search">
        <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
      </svg>
    </div>

    <div class="navbar-profile-button {{activeClass}}">
        <img class="navbar__profile-img" src="../server/images/{{activeAvatar}}" id="nav-active-img">
        <span class="navbar-item_active">{{activeProfileName}}</span>
        <ul class="navbar__menu">{{profileItems}}</ul>
    </div>
  </div>
</nav>

<div id="search-overlay" class="search-container-hero hidden">
    <h1 class="search-hero-title">Vous recherchez</h1>
    <div class="search-bar-pill">
        <svg class="search-hero-icon" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
        </svg>
        <input type="text" id="search-input" placeholder="Un film, une série, une émission..." class="search-hero-input" oninput="C.handlerSearch()">
    </div>
</div>