<div class="movie-detail">
  <button class="movie-detail_button" onclick="C.handlerHome()">Retour à la liste</button>

  <div class="movie-detail_wrap">
    <div class="movie-detail_image">
      <img src="../server/images/{{image}}" alt="affiche film">
    </div>

    <div class="movie-detail_info">
      <h1 class="movie-detail_title">{{name}}</h1>
      <span class="movie-detail_category">{{id_category}}</span>
      <p class="movie-detail_description">{{description}}</p>

      <div class="movie-detail_donnee">
        <p>Durée: {{length}} min</p>
        <p>Réalisateur: {{director}}</p>
        <p>Année de sortie: {{year}}</p>
        <p class="movie-detail_badge">Age: {{min_age}}</p>
      </div>
    </div>
  </div>

  <div>
    <iframe src="{{trailer}}"frameborder="0" allowfullscreen></iframe>
  </div>

</div>

