#content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  background-color: var(--color-blue-dark);
}

.movie-card {
  position: relative;
  width: 220px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;

  .movie-card_images {
    object-fit: cover;
    width: 100%;
    aspect-ratio: 2/3;
    border: 2px solid var(--color-blue-light);
    border-radius: 5%;
  }

  .movie-card_button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .movie-card_button:hover {
    transform: scale(1.2);
  }

  .movie-card_images:hover {
    opacity: 0.5;
  }

  .movie-card_content {
    text-align: center;
    padding: 10px 5px;
  }

  .movie-card_title {
    color: var(--color-white);
    font-size: 1.1rem;
    font-weight: 600;
    font-family: var(--ff-sans);
  }
}

/*message*/

.movie-message {
  grid-column: 1/-1;
  text-align: center;
  padding: 100px 20px;
}

.movie-message_text {
  color: var(--color-blue-light);
  font-size: 1.5rem;
}