#content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  padding: 40px;
  background-color: var(--color-blue-dark);
}

.movie-card {
  border-radius: 10px;
  display: flex;
  flex-direction: column;

  .movie-card_images {
    object-fit: cover;
    width: 100%;
  }

  .movie-card_content {
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .movie-card_title {
    color: purple;
    text-align: center;
  }
}