<div class="admin-movie-item">
  <div class="admin-movie-item__info">
    <span class="admin-movie-item__name">{{name}}</span>
    <span class="admin-movie-item__category">{{category_name}}</span>
    <span class="admin-movie-item__year">({{year}})</span>
  </div>
  
  <form class="admin-movie-item__form">
    <label class="featured-label">
      <input 
        type="checkbox" 
        {{checked}} 
        onchange="C.handlerUpdateFeaturedStatus('{{id}}', this.checked)"
      >
      Mis en avant
    </label>
  </form>
</div>