@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Primitive Tokens FranceTV*/
  --color-bg: #0D0D0D;
  --color-black-card: #1a1a1a;
  --color-yellow: #fff000;
  --color-white: #ffffff;
  --color-gray: #a0a0a0;

  --ff-sans: "Montserrat", sans-serif;

  /* Sementic Tokens */
  --color-fg: var(--color-white);
  --color-bg: var(--color-black-card);
  --color-accent: var(--color-yellow);

  --border-action: #381017;
  --border-comedie: #262f0d;
  --border-drame: #2d0909;
  --border-science: #090e29;
  --border-animation: #181717;
  --border-thriller: #311c0e;
  --border-horreur: #222506;
  --border-aventure: #000e4c;
  --border-fantaisie: #430d2b;
  --border-documentaire: #0f3535;
  --border-romance: #390e58;
}