<nav class="navbar font-sans">
  <ul class="navbar__list">
    <li class="navbar__item" onclick="{{hHome}}">Les films</li>

    <li class="navbar__item" onclick="C.handlerShowFavorites()">Mes Favoris</li>

  <li class="navbar__item">
    <span class="navbar__cat">Catégories</span>
    <ul class="navbar__menu">{{categoryItems}}</ul>
  </li>
  </ul>

  <ul class="navbar__list">
    <li class="navbar__item navbar {{activeClass}}">
      <img class="navbar__profile-img" src="../server/images/{{activeAvatar}}" id="nav-active-img">
      <span class="navbar-item_active"> {{activeProfileName}}</span>
      <ul class="navbar__menu">{{profileItems}}</ul>
    </li>
  </ul>
</nav>
